{% extends 'base.html.twig'%}

{% block title %} formulaire {% endblock %}
{% block stylesheets %}
 
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-errors">
        {{ message }}
    </div>
{% endfor %}
<div class="container mt-3">
  <p>
    
  </p>
  <form action="{{path('postForm')}}" method="post" enctype='multipart/form-data'>
  <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
  <h3>Transferer un contenu vers google drive</h3>
    <div class="row">
      <div class="mb-3 mt-3">
        <label for="email">Nom:</label>
        <input type="text" class="form-control" required id="email" placeholder="" name="fname">
      </div>
      <div class="mb-3">
        <label for="pwd">Prénom:</label>
        <input type="text" class="form-control" required id="pwd" placeholder="" name="lname">
      </div>
    <div class="mb-3">
      <label for="pwd">Piece jointe:</label>
      <input type="file" class="form-control" required id="pwd" placeholder="" name="file">
    </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
</div>


{% endblock %}